@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista a fazer") {
    
    <h1>@tasks.size() Atividades(s)</h1>
    
    <h2> Tarefa(s) a fazer: </h2>
    
    <ul>
        @for(task <- tasks) {
        	@if(!task.isDone()){
            <li>
                <b>Título:</b> @task.getLabel()
                <br>
                <b>Descricao:</b> @task.getDescription()
                <br>
                <b>Projeto:</b> @task.getProject()
                <br>
                <b>Prioridade:</b> @task.getPriority()
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar">
                }
                
                @form(routes.Application.makeItDone(task.getId())){
                	<input type="submit" value="Feita">
                }
                <br>
            </li>
        }}
    </ul>
    
    <h2> Tarefa(s) realizada(s): </h2>
    
    <ul>
    	
        @for(task <- tasks) {
        	@if(task.isDone()){
            <li>
                <b>Título:</b> @task.getLabel()
                <br>
                <b>Descricao:</b> @task.getDescription()
                <br>
                <b>Projeto:</b> @task.getProject()
                <br>
                <b>Prioridade:</b> @task.getPriority()
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar">
                }
                <br>
            </li>
        }}
    </ul>
    
    <h2>Adicione uma nova atividade:</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label"), '_label -> <b>Título:</b>) 
        @inputText(taskForm("project"), '_label -> <b>Projeto:</b>)
        @inputText(taskForm("description"), '_label -> <b>Descrição:</b>)
        @inputText(taskForm("priority"), '_label -> <b>Prioridade:</b>)  
        
        <input type="submit" value="Criar">
        
    }
    
}